.dropDown {
	width: inherit;
	border: 1px solid grey;
	box-sizing: border-box;
}

.dropDownItem {
	padding-left: 20px;
	font-size: 12px;
	line-height: 24px;
}

.dropDownItem:hover {
	background-color: aqua;
}

.dropdownContainer {
	width: inherit;
	cursor: pointer;
}
